  
.main
  .main__main-header
    .main__main-header--group
      %p.group-name 
        =@group.name
      %span.member Member:  
      -@group.users.each do |user|
        %span.member 
          =user.name
          
        
    .main__main-header--edit
      =link_to edit_group_path(@group) do 
        Edit
  .main__contents
    = render @messages

  .main__chat-form
    .main__chat-form--box
      = form_for [@group, @message],html: { class: "new-message" } do |f|
        = f.text_field :content, class: 'content-form', placeholder: 'type a message'
        = f.label :image, class: 'label' do
          = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'submit-btn'